<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.quantum.satm">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/quantum_q"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="ar.com.quantum.mvp.view.IssueView"></activity>
        <activity android:name="ar.com.quantum.mvp.view.SupportView" />
        <activity android:name="ar.com.quantum.mvp.view.SuggestionView" />
        <activity android:name="ar.com.quantum.mvp.view.QuestionView" />
        <activity android:name="ar.com.quantum.mvp.view.FeatureView" />
        <activity android:name="ar.com.quantum.mvp.view.TutorialView" />
        <activity android:name="ar.com.quantum.mvp.view.SymptomView" />
        <activity android:name="ar.com.quantum.mvp.view.MainView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ar.com.quantum.mvp.view.EquipmentView" />
        <activity android:name="ar.com.quantum.mvp.view.SingInView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>